available_device_names
cl_image
cl_info
create
execute
operations
plugin_function
pull
push
pycl
radius_to_kernel_size
set_wait_for_kernel_finish
sigma_to_kernel_size
types
absolute
add_images_weighted
add_image_and_scalar
average_distance_of_n_far_off_distances
average_distance_of_n_shortest_distances
average_distance_of_touching_neighbors
binary_and
binary_edge_detection
binary_not
binary_or
binary_subtract
binary_xor
convolve
copy
copy_slice
count_touching_neighbors
crop
detect_label_edges
detect_maxima_box
detect_minima_box
dilate_box
dilate_box_slice_by_slice
dilate_sphere
dilate_sphere_slice_by_slice
divide_images
downsample_slice_by_slice_half_median
draw_box
draw_line
draw_sphere
equal
equal_constant
erode_box
erode_box_slice_by_slice
erode_sphere
erode_sphere_slice_by_slice
execute_separable_kernel
exponential
flip
gaussian_blur
generate_angle_matrix
generate_binary_overlap_matrix
generate_distance_matrix
generate_touch_matrix
gradient_x
gradient_y
gradient_z
greater
greater_constant
greater_or_equal
greater_or_equal_constant
laplace_box
laplace_diamond
logarithm
mask
mask_label
maximum_box
maximum_distance_of_n_shortest_distances
maximum_distance_of_touching_neighbors
maximum_images
maximum_image_and_scalar
maximum_sphere
maximum_x_projection
maximum_y_projection
maximum_z_projection
mean_box
mean_sphere
mean_x_projection
mean_y_projection
mean_z_projection
minimum_box
minimum_distance_of_touching_neighbors
minimum_images
minimum_image_and_scalar
minimum_sphere
minimum_x_projection
minimum_y_projection
minimum_z_projection
multiply_images
multiply_image_and_coordinate
multiply_image_and_scalar
multiply_matrix
nonzero_maximum_box
nonzero_maximum_diamond
nonzero_minimum_box
nonzero_minimum_diamond
not_equal
not_equal_constant
n_closest_points
onlyzero_overwrite_maximum_box
onlyzero_overwrite_maximum_diamond
paste
point_index_list_to_mesh
point_index_list_to_touch_matrix
power
power_images
read_intensities_from_map
read_intensities_from_positions
replace_intensities
replace_intensity
resample
set
set_column
set_image_borders
set_non_zero_pixels_to_pixel_index
set_plane
set_ramp_x
set_ramp_y
set_ramp_z
set_row
set_where_x_equals_y
set_where_x_greater_than_y
set_where_x_smaller_than_y
smaller
smaller_constant
smaller_or_equal
smaller_or_equal_constant
sobel
standard_deviation_z_projection
subtract_image_from_scalar
sum_x_projection
sum_y_projection
sum_z_projection
touch_matrix_to_mesh
transpose_xy
transpose_xz
transpose_yz
undefined_to_zero
write_values_to_positions
add_images
block_enumerate
bottom_hat_box
bottom_hat_sphere
combine_horizontally
combine_vertically
concatenate_stacks
degrees_to_radians
distance_matrix_to_mesh
flag_existing_labels
gamma_correction
invert
label_spots
maximum_of_all_pixels
maximum_of_touching_neighbors
mean_of_touching_neighbors
median_of_touching_neighbors
minimum_of_all_pixels
minimum_of_masked_pixels
minimum_of_touching_neighbors
mode_of_touching_neighbors
neighbors_of_neighbors
pointlist_to_labelled_spots
radians_to_degrees
reduce_stack
standard_deviation_of_touching_neighbors
subtract_images
sum_of_all_pixels
sum_reduction_x
top_hat_box
top_hat_sphere
touch_matrix_to_adjacency_matrix
absolute_difference
bounding_box
center_of_mass
close_index_gaps_in_label_map
difference_of_gaussian
divide_by_gaussian_background
exclude_labels
exclude_labels_on_edges
exclude_labels_outside_size_range
exclude_labels_with_values_out_of_range
exclude_labels_with_values_within_range
generate_n_nearest_neighbors_matrix
generate_proximal_neighbors_matrix
histogram
jaccard_index
labelled_spots_to_pointlist
maximum_of_n_nearest_neighbors_map
maximum_of_proximal_neighbors_map
maximum_of_touching_neighbors_map
mean_of_all_pixels
mean_of_n_nearest_neighbors_map
mean_of_proximal_neighbors_map
mean_of_touching_neighbors_map
minimum_of_n_nearest_neighbors_map
minimum_of_proximal_neighbors_map
minimum_of_touching_neighbors_map
mode_of_n_nearest_neighbors_map
mode_of_proximal_neighbors_map
mode_of_touching_neighbors_map
squared_difference
standard_deviation_of_n_nearest_neighbors_map
standard_deviation_of_proximal_neighbors_map
standard_deviation_of_touching_neighbors_map
subtract_gaussian_background
connected_components_labeling_box
extend_labeling_via_voronoi
extend_labels_with_maximum_radius
local_maximum_touching_neighbor_count_map
local_mean_touching_neighbor_count_map
local_median_touching_neighbor_count_map
local_minimum_touching_neighbor_count_map
local_standard_deviation_touching_neighbor_count_map
mean_squared_error
merge_touching_labels
sorensen_dice_coefficient
spots_to_pointlist
touching_neighbor_count_map
connected_components_labeling_diamond
masked_voronoi_labeling
voronoi_labeling
AffineTransform3D
affine_transform
rigid_transform
rotate
scale
translate
artificial_tissue_2d
average_distance_of_n_closest_neighbors_map
average_neighbor_distance_map
centroids_of_background_and_labels
centroids_of_labels
draw_angle_mesh_between_touching_labels
draw_distance_mesh_between_touching_labels
draw_mesh_between_n_closest_labels
draw_mesh_between_proximal_labels
draw_mesh_between_touching_labels
euclidean_distance_from_label_centroid_map
imread
imshow
label_maximum_extension_map
label_maximum_extension_ratio_map
label_maximum_intensity_map
label_mean_extension_map
label_mean_intensity_map
label_minimum_intensity_map
label_pixel_count_map
label_standard_deviation_intensity_map
push_regionprops
push_regionprops_column
regionprops
statistics_entry
statistics_of_background_and_labelled_pixels
statistics_of_image
statistics_of_labelled_pixels
threshold_otsu
voronoi_otsu_labeling
