available_device_names
cl_image
cl_info
create
execute
plugin_function
pull
push
pycl
radius_to_kernel_size
sigma_to_kernel_size
types
absolute
add_images_weighted
add_image_and_scalar
binary_and
binary_edge_detection
binary_not
binary_or
binary_subtract
binary_xor
convolve
copy
copy_slice
crop
detect_label_edges
detect_maxima_box
dilate_box
dilate_box_slice_by_slice
dilate_sphere
dilate_sphere_slice_by_slice
divide_images
draw_box
draw_line
draw_sphere
equal
equal_constant
erode_box
erode_box_slice_by_slice
erode_sphere
erode_sphere_slice_by_slice
execute_separable_kernel
exponential
flip
gaussian_blur
generate_distance_matrix
generate_touch_matrix
gradient_x
gradient_y
gradient_z
greater
greater_constant
greater_or_equal
greater_or_equal_constant
laplace_box
laplace_diamond
logarithm
mask
mask_label
maximum_box
maximum_images
maximum_image_and_scalar
maximum_sphere
maximum_x_projection
maximum_y_projection
maximum_z_projection
mean_box
mean_sphere
mean_x_projection
mean_y_projection
mean_z_projection
minimum_box
minimum_images
minimum_image_and_scalar
minimum_sphere
minimum_x_projection
minimum_y_projection
minimum_z_projection
multiply_images
multiply_image_and_coordinate
multiply_image_and_scalar
multiply_matrix
nonzero_maximum_box
nonzero_maximum_diamond
nonzero_minimum_box
nonzero_minimum_diamond
not_equal
not_equal_constant
onlyzero_overwrite_maximum_box
onlyzero_overwrite_maximum_diamond
paste
power
power_images
replace_intensities
replace_intensity
set
set_column
set_image_borders
set_nonzero_pixels_to_pixelindex
set_plane
set_ramp_x
set_ramp_y
set_ramp_z
set_row
set_where_x_equals_y
set_where_x_greater_than_y
set_where_x_smaller_than_y
smaller
smaller_constant
smaller_or_equal
smaller_or_equal_constant
sobel
standard_deviation_z_projection
subtract_image_from_scalar
sum_x_projection
sum_y_projection
sum_z_projection
touch_matrix_to_mesh
transpose_xy
transpose_xz
transpose_yz
undefined_to_zero
block_enumerate
bottom_hat_box
bottom_hat_sphere
flag_existing_intensities
invert
maximum_of_all_pixels
minimum_of_all_pixels
minimum_of_masked_pixels
subtract_images
sum_of_all_pixels
sum_reduction_x
top_hat_box
top_hat_sphere
absolute_difference
bounding_box
center_of_mass
close_index_gaps_in_label_map
difference_of_gaussian
exclude_labels_on_edges
histogram
jaccard_index
labelled_spots_to_pointlist
mean_of_all_pixels
squared_difference
connected_components_labeling_box
extend_labeling_via_voronoi
mean_squared_error
sorensen_dice_coefficient
connected_components_labeling_diamond
voronoi_labeling
threshold_otsu
