
Plugins>ImageJ on GPU (CLIJx-Incubator), "Start CLIJx-Incubator (experimental)", net.haesleinhuepf.clijx.incubator.IncubatorStartingPoint("")

Plugins>ImageJ on GPU (CLIJx-Incubator)>0 File, "Open raw sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualRawStackOpener
Plugins>ImageJ on GPU (CLIJx-Incubator)>0 File, "Open tif sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualTifStackOpener
Plugins>ImageJ on GPU (CLIJx-Incubator), "Extract channel (experimental)", net.haesleinhuepf.incubator.interactive.handcrafted.ExtractChannel

Plugins>ImageJ on GPU (CLIJx-Incubator), "Add custom suggestions from a folder of CLIJ2 Macros", net.haesleinhuepf.clijx.incubator.utilities.CustomSuggestions

Plugins>ImageJ on GPU (CLIJx-Incubator), "CLIJx-Incubator Version 0.1.0.24",                            null


