
Plugins>ImageJ on GPU (CLIJx-Assistant), "Start CLIJx-Assistant (experimental)", net.haesleinhuepf.clijx.assistant.AssistantGUIStartingPoint("")

Plugins>ImageJ on GPU (CLIJx-Assistant)>0 File, "Open raw sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualRawStackOpener
Plugins>ImageJ on GPU (CLIJx-Assistant)>0 File, "Open tif sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualTifStackOpener
Plugins>ImageJ on GPU (CLIJx-Assistant), "Extract channel (experimental)", net.haesleinhuepf.incubator.interactive.handcrafted.ExtractChannel

Plugins>ImageJ on GPU (CLIJx-Assistant)>Options, "Add custom suggestions from a folder of CLIJ2 Macros", net.haesleinhuepf.clijx.assistant.utilities.CustomSuggestions
Plugins>ImageJ on GPU (CLIJx-Assistant)>Options, "Conda configuration (Te Oki)", net.haesleinhuepf.clijx.te_oki.TeOkiConfigurationDialog

Plugins>ImageJ on GPU (CLIJx-Assistant), "CLIJx-Assistant Version 0.2.2.10",                            null


