
Plugins>CLIncubator, "Start CLIncubator (experimental)", IncubatorStartingPoint

Plugins>CLIncubator>0 File, "Open raw sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualRawStackOpener
Plugins>CLIncubator>0 File, "Open tif sequnce (experimental)", net.haesleinhuepf.spimcat.io.VirtualTifStackOpener

Plugins>CLIncubator>1 Filter, "Bilateral (CLIncubator, experimental)_1", Bilateral
Plugins>CLIncubator>1 Filter, "Bottom Hat (CLIncubator, experimental)_1", BottomHat
Plugins>CLIncubator>1 Filter, "Difference Of Gaussian (CLIncubator, experimental)_1", DifferenceOfGaussian
Plugins>CLIncubator>1 Filter, "Entropy (CLIncubator, experimental)_1", Entropy
Plugins>CLIncubator>1 Filter, "Extend Labels With Maximum Radius (CLIncubator, experimental)_1", ExtendLabelsWithMaximumRadius
Plugins>CLIncubator>1 Filter, "Gaussian Blur (CLIncubator, experimental)_1", GaussianBlur
Plugins>CLIncubator>1 Filter, "Intensity Correction (CLIncubator, experimental)_1", IntensityCorrection
Plugins>CLIncubator>1 Filter, "Intensity Correction Above Threshold Otsu (CLIncubator, experimental)_1", IntensityCorrectionAboveThresholdOtsu
Plugins>CLIncubator>1 Filter, "Laplace (CLIncubator, experimental)_1", Laplace
Plugins>CLIncubator>1 Filter, "Laplace Sphere (CLIncubator, experimental)_1", LaplaceSphere
Plugins>CLIncubator>1 Filter, "Maximum (CLIncubator, experimental)_1", Maximum
Plugins>CLIncubator>1 Filter, "Mean (CLIncubator, experimental)_1", Mean
Plugins>CLIncubator>1 Filter, "Median (CLIncubator, experimental)_1", Median
Plugins>CLIncubator>1 Filter, "Minimum (CLIncubator, experimental)_1", Minimum
Plugins>CLIncubator>1 Filter, "Non Local Means (CLIncubator, experimental)_1", NonLocalMeans
Plugins>CLIncubator>1 Filter, "Parametric Watershed (CLIncubator, experimental)_1", ParametricWatershed
Plugins>CLIncubator>1 Filter, "Sobel (CLIncubator, experimental)_1", Sobel
Plugins>CLIncubator>1 Filter, "Threshold Do G (CLIncubator, experimental)_1", ThresholdDoG
Plugins>CLIncubator>1 Filter, "Top Hat (CLIncubator, experimental)_1", TopHat
Plugins>CLIncubator>2 Transform, "Copy Slice (CLIncubator, experimental)_2", CopySlice
Plugins>CLIncubator>2 Transform, "Cylinder Transform (CLIncubator, experimental)_2", CylinderTransform
Plugins>CLIncubator>2 Transform, "Drift Correction By Center Of Mass Fixation (CLIncubator, experimental)_2", DriftCorrectionByCenterOfMassFixation
Plugins>CLIncubator>2 Transform, "Drift Correction By Centroid Fixation (CLIncubator, experimental)_2", DriftCorrectionByCentroidFixation
Plugins>CLIncubator>2 Transform, "Flip (CLIncubator, experimental)_2", Flip
Plugins>CLIncubator>2 Transform, "Label Spots (CLIncubator, experimental)_2", LabelSpots
Plugins>CLIncubator>2 Transform, "Make Isotropic (CLIncubator, experimental)_2", MakeIsotropic
Plugins>CLIncubator>2 Transform, "Reslice Bottom (CLIncubator, experimental)_2", ResliceBottom
Plugins>CLIncubator>2 Transform, "Reslice Left (CLIncubator, experimental)_2", ResliceLeft
Plugins>CLIncubator>2 Transform, "Reslice Right (CLIncubator, experimental)_2", ResliceRight
Plugins>CLIncubator>2 Transform, "Reslice Top (CLIncubator, experimental)_2", ResliceTop
Plugins>CLIncubator>2 Transform, "Rigid Transform (CLIncubator, experimental)_2", RigidTransform
Plugins>CLIncubator>2 Transform, "Rotate (CLIncubator, experimental)_2", Rotate
Plugins>CLIncubator>2 Transform, "Rotate Clockwise (CLIncubator, experimental)_2", RotateClockwise
Plugins>CLIncubator>2 Transform, "Rotate Counter Clockwise (CLIncubator, experimental)_2", RotateCounterClockwise
Plugins>CLIncubator>2 Transform, "Rotate Right (CLIncubator, experimental)_2", RotateRight
Plugins>CLIncubator>2 Transform, "Sphere Transform (CLIncubator, experimental)_2", SphereTransform
Plugins>CLIncubator>2 Transform, "Translate (CLIncubator, experimental)_2", Translate
Plugins>CLIncubator>2 Transform, "Transpose XY (CLIncubator, experimental)_2", TransposeXY
Plugins>CLIncubator>2 Transform, "Transpose XZ (CLIncubator, experimental)_2", TransposeXZ
Plugins>CLIncubator>2 Transform, "Transpose YZ (CLIncubator, experimental)_2", TransposeYZ
Plugins>CLIncubator>3 Projection, "Maximum Z Projection (CLIncubator, experimental)_3", MaximumZProjection
Plugins>CLIncubator>3 Projection, "Maximum Z Projection Bounded (CLIncubator, experimental)_3", MaximumZProjectionBounded
Plugins>CLIncubator>3 Projection, "Mean Z Projection (CLIncubator, experimental)_3", MeanZProjection
Plugins>CLIncubator>3 Projection, "Mean Z Projection Above Threshold (CLIncubator, experimental)_3", MeanZProjectionAboveThreshold
Plugins>CLIncubator>3 Projection, "Median Z Projection (CLIncubator, experimental)_3", MedianZProjection
Plugins>CLIncubator>3 Projection, "Minimum Z Projection (CLIncubator, experimental)_3", MinimumZProjection
Plugins>CLIncubator>3 Projection, "Standard Deviation Z Projection (CLIncubator, experimental)_3", StandardDeviationZProjection
Plugins>CLIncubator>3 Projection, "Sum Z Projection (CLIncubator, experimental)_3", SumZProjection
Plugins>CLIncubator>4 Binary, "Binary Edge Detection (CLIncubator, experimental)_4", BinaryEdgeDetection
Plugins>CLIncubator>4 Binary, "Binary Fill Holes (CLIncubator, experimental)_4", BinaryFillHoles
Plugins>CLIncubator>4 Binary, "Binary Not (CLIncubator, experimental)_4", BinaryNot
Plugins>CLIncubator>4 Binary, "Closing (CLIncubator, experimental)_4", Closing
Plugins>CLIncubator>4 Binary, "Connected Components Labeling (CLIncubator, experimental)_4", ConnectedComponentsLabeling
Plugins>CLIncubator>4 Binary, "Distance Map (CLIncubator, experimental)_4", DistanceMap
Plugins>CLIncubator>4 Binary, "Drift Correction By Centroid Fixation (CLIncubator, experimental)_4", DriftCorrectionByCentroidFixation
Plugins>CLIncubator>4 Binary, "Find Maxima Plateaus (CLIncubator, experimental)_4", FindMaximaPlateaus
Plugins>CLIncubator>4 Binary, "Invert (CLIncubator, experimental)_4", Invert
Plugins>CLIncubator>4 Binary, "Label Spots (CLIncubator, experimental)_4", LabelSpots
Plugins>CLIncubator>4 Binary, "Label Voronoi Octagon (CLIncubator, experimental)_4", LabelVoronoiOctagon
Plugins>CLIncubator>4 Binary, "Opening (CLIncubator, experimental)_4", Opening
Plugins>CLIncubator>4 Binary, "Parametric Watershed (CLIncubator, experimental)_4", ParametricWatershed
Plugins>CLIncubator>4 Binary, "Threshold Default (CLIncubator, experimental)_4", ThresholdDefault
Plugins>CLIncubator>4 Binary, "Threshold Do G (CLIncubator, experimental)_4", ThresholdDoG
Plugins>CLIncubator>4 Binary, "Threshold Huang (CLIncubator, experimental)_4", ThresholdHuang
Plugins>CLIncubator>4 Binary, "Threshold IJ Iso Data (CLIncubator, experimental)_4", ThresholdIJ_IsoData
Plugins>CLIncubator>4 Binary, "Threshold Intermodes (CLIncubator, experimental)_4", ThresholdIntermodes
Plugins>CLIncubator>4 Binary, "Threshold Iso Data (CLIncubator, experimental)_4", ThresholdIsoData
Plugins>CLIncubator>4 Binary, "Threshold Li (CLIncubator, experimental)_4", ThresholdLi
Plugins>CLIncubator>4 Binary, "Threshold Max Entropy (CLIncubator, experimental)_4", ThresholdMaxEntropy
Plugins>CLIncubator>4 Binary, "Threshold Mean (CLIncubator, experimental)_4", ThresholdMean
Plugins>CLIncubator>4 Binary, "Threshold Min Error (CLIncubator, experimental)_4", ThresholdMinError
Plugins>CLIncubator>4 Binary, "Threshold Minimum (CLIncubator, experimental)_4", ThresholdMinimum
Plugins>CLIncubator>4 Binary, "Threshold Moments (CLIncubator, experimental)_4", ThresholdMoments
Plugins>CLIncubator>4 Binary, "Threshold Otsu (CLIncubator, experimental)_4", ThresholdOtsu
Plugins>CLIncubator>4 Binary, "Threshold Percentile (CLIncubator, experimental)_4", ThresholdPercentile
Plugins>CLIncubator>4 Binary, "Threshold Renyi Entropy (CLIncubator, experimental)_4", ThresholdRenyiEntropy
Plugins>CLIncubator>4 Binary, "Threshold Shanbhag (CLIncubator, experimental)_4", ThresholdShanbhag
Plugins>CLIncubator>4 Binary, "Threshold Triangle (CLIncubator, experimental)_4", ThresholdTriangle
Plugins>CLIncubator>4 Binary, "Threshold Yen (CLIncubator, experimental)_4", ThresholdYen
Plugins>CLIncubator>4 Binary, "Voronoi Labeling (CLIncubator, experimental)_4", VoronoiLabeling
Plugins>CLIncubator>4 Binary, "Voronoi Octagon (CLIncubator, experimental)_4", VoronoiOctagon
Plugins>CLIncubator>5 Label, "Average Neighbor Distance Map (CLIncubator, experimental)_5", AverageNeighborDistanceMap
Plugins>CLIncubator>5 Label, "Connected Components Labeling (CLIncubator, experimental)_5", ConnectedComponentsLabeling
Plugins>CLIncubator>5 Label, "Detect And Label Maxima (CLIncubator, experimental)_5", DetectAndLabelMaxima
Plugins>CLIncubator>5 Label, "Detect Label Edges (CLIncubator, experimental)_5", DetectLabelEdges
Plugins>CLIncubator>5 Label, "Draw Distance Mesh Between Touching Labels (CLIncubator, experimental)_5", DrawDistanceMeshBetweenTouchingLabels
Plugins>CLIncubator>5 Label, "Draw Mesh Between Touching Labels (CLIncubator, experimental)_5", DrawMeshBetweenTouchingLabels
Plugins>CLIncubator>5 Label, "Exclude Labels On Edges (CLIncubator, experimental)_5", ExcludeLabelsOnEdges
Plugins>CLIncubator>5 Label, "Exclude Labels Outside Size Range (CLIncubator, experimental)_5", ExcludeLabelsOutsideSizeRange
Plugins>CLIncubator>5 Label, "Extend Labeling Via Voronoi (CLIncubator, experimental)_5", ExtendLabelingViaVoronoi
Plugins>CLIncubator>5 Label, "Extend Labels With Maximum Radius (CLIncubator, experimental)_5", ExtendLabelsWithMaximumRadius
Plugins>CLIncubator>5 Label, "Find And Label Maxima (CLIncubator, experimental)_5", FindAndLabelMaxima
Plugins>CLIncubator>5 Label, "Label Mean Intensity Map (CLIncubator, experimental)_5", LabelMeanIntensityMap
Plugins>CLIncubator>5 Label, "Label Pixel Count Map (CLIncubator, experimental)_5", LabelPixelCountMap
Plugins>CLIncubator>5 Label, "Label Spots (CLIncubator, experimental)_5", LabelSpots
Plugins>CLIncubator>5 Label, "Label Standard Deviation Intensity Map (CLIncubator, experimental)_5", LabelStandardDeviationIntensityMap
Plugins>CLIncubator>5 Label, "Label To Mask (CLIncubator, experimental)_5", LabelToMask
Plugins>CLIncubator>5 Label, "Label Voronoi Octagon (CLIncubator, experimental)_5", LabelVoronoiOctagon
Plugins>CLIncubator>5 Label, "Touching Neighbor Count Map (CLIncubator, experimental)_5", TouchingNeighborCountMap
Plugins>CLIncubator>5 Label, "Voronoi Labeling (CLIncubator, experimental)_5", VoronoiLabeling
Plugins>CLIncubator>6 Measurement, "Average Neighbor Distance Map (CLIncubator, experimental)_6", AverageNeighborDistanceMap
Plugins>CLIncubator>6 Measurement, "Count Non Zero Voxels Sphere (CLIncubator, experimental)_6", CountNonZeroVoxelsSphere
Plugins>CLIncubator>6 Measurement, "Label Mean Intensity Map (CLIncubator, experimental)_6", LabelMeanIntensityMap
Plugins>CLIncubator>6 Measurement, "Label Pixel Count Map (CLIncubator, experimental)_6", LabelPixelCountMap
Plugins>CLIncubator>6 Measurement, "Label Standard Deviation Intensity Map (CLIncubator, experimental)_6", LabelStandardDeviationIntensityMap
Plugins>CLIncubator>6 Measurement, "Touching Neighbor Count Map (CLIncubator, experimental)_6", TouchingNeighborCountMap
Plugins>CLIncubator>7 All, "Absolute (CLIncubator, experimental)_7", Absolute
Plugins>CLIncubator>7 All, "Average Neighbor Distance Map (CLIncubator, experimental)_7", AverageNeighborDistanceMap
Plugins>CLIncubator>7 All, "Bilateral (CLIncubator, experimental)_7", Bilateral
Plugins>CLIncubator>7 All, "Binary Edge Detection (CLIncubator, experimental)_7", BinaryEdgeDetection
Plugins>CLIncubator>7 All, "Binary Fill Holes (CLIncubator, experimental)_7", BinaryFillHoles
Plugins>CLIncubator>7 All, "Binary Not (CLIncubator, experimental)_7", BinaryNot
Plugins>CLIncubator>7 All, "Bottom Hat (CLIncubator, experimental)_7", BottomHat
Plugins>CLIncubator>7 All, "CL Incubator Starting Point (CLIncubator, experimental)_7", IncubatorStartingPoint
Plugins>CLIncubator>7 All, "Closing (CLIncubator, experimental)_7", Closing
Plugins>CLIncubator>7 All, "Connected Components Labeling (CLIncubator, experimental)_7", ConnectedComponentsLabeling
Plugins>CLIncubator>7 All, "Copy Slice (CLIncubator, experimental)_7", CopySlice
Plugins>CLIncubator>7 All, "Count Non Zero Voxels Sphere (CLIncubator, experimental)_7", CountNonZeroVoxelsSphere
Plugins>CLIncubator>7 All, "Cylinder Transform (CLIncubator, experimental)_7", CylinderTransform
Plugins>CLIncubator>7 All, "Detect And Label Maxima (CLIncubator, experimental)_7", DetectAndLabelMaxima
Plugins>CLIncubator>7 All, "Detect Label Edges (CLIncubator, experimental)_7", DetectLabelEdges
Plugins>CLIncubator>7 All, "Difference Of Gaussian (CLIncubator, experimental)_7", DifferenceOfGaussian
Plugins>CLIncubator>7 All, "Distance Map (CLIncubator, experimental)_7", DistanceMap
Plugins>CLIncubator>7 All, "Draw Distance Mesh Between Touching Labels (CLIncubator, experimental)_7", DrawDistanceMeshBetweenTouchingLabels
Plugins>CLIncubator>7 All, "Draw Mesh Between Touching Labels (CLIncubator, experimental)_7", DrawMeshBetweenTouchingLabels
Plugins>CLIncubator>7 All, "Drift Correction By Center Of Mass Fixation (CLIncubator, experimental)_7", DriftCorrectionByCenterOfMassFixation
Plugins>CLIncubator>7 All, "Drift Correction By Centroid Fixation (CLIncubator, experimental)_7", DriftCorrectionByCentroidFixation
Plugins>CLIncubator>7 All, "Entropy (CLIncubator, experimental)_7", Entropy
Plugins>CLIncubator>7 All, "Equal Constant (CLIncubator, experimental)_7", EqualConstant
Plugins>CLIncubator>7 All, "Equalize Mean Intensities Of Slices (CLIncubator, experimental)_7", EqualizeMeanIntensitiesOfSlices
Plugins>CLIncubator>7 All, "Exclude Labels On Edges (CLIncubator, experimental)_7", ExcludeLabelsOnEdges
Plugins>CLIncubator>7 All, "Exclude Labels Outside Size Range (CLIncubator, experimental)_7", ExcludeLabelsOutsideSizeRange
Plugins>CLIncubator>7 All, "Exponential (CLIncubator, experimental)_7", Exponential
Plugins>CLIncubator>7 All, "Extend Labeling Via Voronoi (CLIncubator, experimental)_7", ExtendLabelingViaVoronoi
Plugins>CLIncubator>7 All, "Extend Labels With Maximum Radius (CLIncubator, experimental)_7", ExtendLabelsWithMaximumRadius
Plugins>CLIncubator>7 All, "Find And Label Maxima (CLIncubator, experimental)_7", FindAndLabelMaxima
Plugins>CLIncubator>7 All, "Find Maxima (CLIncubator, experimental)_7", FindMaxima
Plugins>CLIncubator>7 All, "Find Maxima Plateaus (CLIncubator, experimental)_7", FindMaximaPlateaus
Plugins>CLIncubator>7 All, "Flip (CLIncubator, experimental)_7", Flip
Plugins>CLIncubator>7 All, "Gaussian Blur (CLIncubator, experimental)_7", GaussianBlur
Plugins>CLIncubator>7 All, "Greater Constant (CLIncubator, experimental)_7", GreaterConstant
Plugins>CLIncubator>7 All, "Greater Or Equal Constant (CLIncubator, experimental)_7", GreaterOrEqualConstant
Plugins>CLIncubator>7 All, "Intensity Correction (CLIncubator, experimental)_7", IntensityCorrection
Plugins>CLIncubator>7 All, "Intensity Correction Above Threshold Otsu (CLIncubator, experimental)_7", IntensityCorrectionAboveThresholdOtsu
Plugins>CLIncubator>7 All, "Invert (CLIncubator, experimental)_7", Invert
Plugins>CLIncubator>7 All, "Label Mean Intensity Map (CLIncubator, experimental)_7", LabelMeanIntensityMap
Plugins>CLIncubator>7 All, "Label Pixel Count Map (CLIncubator, experimental)_7", LabelPixelCountMap
Plugins>CLIncubator>7 All, "Label Spots (CLIncubator, experimental)_7", LabelSpots
Plugins>CLIncubator>7 All, "Label Standard Deviation Intensity Map (CLIncubator, experimental)_7", LabelStandardDeviationIntensityMap
Plugins>CLIncubator>7 All, "Label To Mask (CLIncubator, experimental)_7", LabelToMask
Plugins>CLIncubator>7 All, "Label Voronoi Octagon (CLIncubator, experimental)_7", LabelVoronoiOctagon
Plugins>CLIncubator>7 All, "Laplace (CLIncubator, experimental)_7", Laplace
Plugins>CLIncubator>7 All, "Laplace Sphere (CLIncubator, experimental)_7", LaplaceSphere
Plugins>CLIncubator>7 All, "Laplacian Of Gaussian (CLIncubator, experimental)_7", LaplacianOfGaussian
Plugins>CLIncubator>7 All, "Logarithm (CLIncubator, experimental)_7", Logarithm
Plugins>CLIncubator>7 All, "Make Isotropic (CLIncubator, experimental)_7", MakeIsotropic
Plugins>CLIncubator>7 All, "Maximum (CLIncubator, experimental)_7", Maximum
Plugins>CLIncubator>7 All, "Maximum Image And Scalar (CLIncubator, experimental)_7", MaximumImageAndScalar
Plugins>CLIncubator>7 All, "Maximum Z Projection (CLIncubator, experimental)_7", MaximumZProjection
Plugins>CLIncubator>7 All, "Maximum Z Projection Bounded (CLIncubator, experimental)_7", MaximumZProjectionBounded
Plugins>CLIncubator>7 All, "Mean (CLIncubator, experimental)_7", Mean
Plugins>CLIncubator>7 All, "Mean Z Projection (CLIncubator, experimental)_7", MeanZProjection
Plugins>CLIncubator>7 All, "Mean Z Projection Above Threshold (CLIncubator, experimental)_7", MeanZProjectionAboveThreshold
Plugins>CLIncubator>7 All, "Median (CLIncubator, experimental)_7", Median
Plugins>CLIncubator>7 All, "Median Z Projection (CLIncubator, experimental)_7", MedianZProjection
Plugins>CLIncubator>7 All, "Minimum (CLIncubator, experimental)_7", Minimum
Plugins>CLIncubator>7 All, "Minimum Z Projection (CLIncubator, experimental)_7", MinimumZProjection
Plugins>CLIncubator>7 All, "Multiply Image And Scalar (CLIncubator, experimental)_7", MultiplyImageAndScalar
Plugins>CLIncubator>7 All, "Non Local Means (CLIncubator, experimental)_7", NonLocalMeans
Plugins>CLIncubator>7 All, "Not Equal Constant (CLIncubator, experimental)_7", NotEqualConstant
Plugins>CLIncubator>7 All, "Opening (CLIncubator, experimental)_7", Opening
Plugins>CLIncubator>7 All, "Parametric Watershed (CLIncubator, experimental)_7", ParametricWatershed
Plugins>CLIncubator>7 All, "Power (CLIncubator, experimental)_7", Power
Plugins>CLIncubator>7 All, "Reslice Bottom (CLIncubator, experimental)_7", ResliceBottom
Plugins>CLIncubator>7 All, "Reslice Left (CLIncubator, experimental)_7", ResliceLeft
Plugins>CLIncubator>7 All, "Reslice Right (CLIncubator, experimental)_7", ResliceRight
Plugins>CLIncubator>7 All, "Reslice Top (CLIncubator, experimental)_7", ResliceTop
Plugins>CLIncubator>7 All, "Rigid Transform (CLIncubator, experimental)_7", RigidTransform
Plugins>CLIncubator>7 All, "Rotate (CLIncubator, experimental)_7", Rotate
Plugins>CLIncubator>7 All, "Rotate Clockwise (CLIncubator, experimental)_7", RotateClockwise
Plugins>CLIncubator>7 All, "Rotate Counter Clockwise (CLIncubator, experimental)_7", RotateCounterClockwise
Plugins>CLIncubator>7 All, "Rotate Right (CLIncubator, experimental)_7", RotateRight
Plugins>CLIncubator>7 All, "Smaller Constant (CLIncubator, experimental)_7", SmallerConstant
Plugins>CLIncubator>7 All, "Sobel (CLIncubator, experimental)_7", Sobel
Plugins>CLIncubator>7 All, "Sphere Transform (CLIncubator, experimental)_7", SphereTransform
Plugins>CLIncubator>7 All, "Standard Deviation Z Projection (CLIncubator, experimental)_7", StandardDeviationZProjection
Plugins>CLIncubator>7 All, "Subtract Gaussian Background (CLIncubator, experimental)_7", SubtractGaussianBackground
Plugins>CLIncubator>7 All, "Subtract Image From Scalar (CLIncubator, experimental)_7", SubtractImageFromScalar
Plugins>CLIncubator>7 All, "Sum Z Projection (CLIncubator, experimental)_7", SumZProjection
Plugins>CLIncubator>7 All, "Threshold Default (CLIncubator, experimental)_7", ThresholdDefault
Plugins>CLIncubator>7 All, "Threshold Do G (CLIncubator, experimental)_7", ThresholdDoG
Plugins>CLIncubator>7 All, "Threshold Huang (CLIncubator, experimental)_7", ThresholdHuang
Plugins>CLIncubator>7 All, "Threshold IJ Iso Data (CLIncubator, experimental)_7", ThresholdIJ_IsoData
Plugins>CLIncubator>7 All, "Threshold Intermodes (CLIncubator, experimental)_7", ThresholdIntermodes
Plugins>CLIncubator>7 All, "Threshold Iso Data (CLIncubator, experimental)_7", ThresholdIsoData
Plugins>CLIncubator>7 All, "Threshold Li (CLIncubator, experimental)_7", ThresholdLi
Plugins>CLIncubator>7 All, "Threshold Max Entropy (CLIncubator, experimental)_7", ThresholdMaxEntropy
Plugins>CLIncubator>7 All, "Threshold Mean (CLIncubator, experimental)_7", ThresholdMean
Plugins>CLIncubator>7 All, "Threshold Min Error (CLIncubator, experimental)_7", ThresholdMinError
Plugins>CLIncubator>7 All, "Threshold Minimum (CLIncubator, experimental)_7", ThresholdMinimum
Plugins>CLIncubator>7 All, "Threshold Moments (CLIncubator, experimental)_7", ThresholdMoments
Plugins>CLIncubator>7 All, "Threshold Otsu (CLIncubator, experimental)_7", ThresholdOtsu
Plugins>CLIncubator>7 All, "Threshold Percentile (CLIncubator, experimental)_7", ThresholdPercentile
Plugins>CLIncubator>7 All, "Threshold Renyi Entropy (CLIncubator, experimental)_7", ThresholdRenyiEntropy
Plugins>CLIncubator>7 All, "Threshold Shanbhag (CLIncubator, experimental)_7", ThresholdShanbhag
Plugins>CLIncubator>7 All, "Threshold Triangle (CLIncubator, experimental)_7", ThresholdTriangle
Plugins>CLIncubator>7 All, "Threshold Yen (CLIncubator, experimental)_7", ThresholdYen
Plugins>CLIncubator>7 All, "Top Hat (CLIncubator, experimental)_7", TopHat
Plugins>CLIncubator>7 All, "Touching Neighbor Count Map (CLIncubator, experimental)_7", TouchingNeighborCountMap
Plugins>CLIncubator>7 All, "Translate (CLIncubator, experimental)_7", Translate
Plugins>CLIncubator>7 All, "Transpose XY (CLIncubator, experimental)_7", TransposeXY
Plugins>CLIncubator>7 All, "Transpose XZ (CLIncubator, experimental)_7", TransposeXZ
Plugins>CLIncubator>7 All, "Transpose YZ (CLIncubator, experimental)_7", TransposeYZ
Plugins>CLIncubator>7 All, "Voronoi Labeling (CLIncubator, experimental)_7", VoronoiLabeling
Plugins>CLIncubator>7 All, "Voronoi Octagon (CLIncubator, experimental)_7", VoronoiOctagon

Plugins>CLIncubator, "CLIncubator Version 0.0.1.19",                            null
