

Plugins>CLIncubator>File, "Open raw sequence (experimental)", net.haesleinhuepf.spimcat.io.VirtualRawStackOpener
Plugins>CLIncubator>File, "Open tif sequnce (experimental)", net.haesleinhuepf.spimcat.io.VirtualTifStackOpener



Plugins>CLIncubator>Analysis, "Average Neighbor Distance (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.analysis.AverageNeighborDistance
Plugins>CLIncubator>Analysis, "Count Neighbors (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.analysis.CountNeighbors
Plugins>CLIncubator>Analysis, "Show Label Edges (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.analysis.ShowLabelEdges
Plugins>CLIncubator>Detection, "Detect And Label Maxima (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.detection.DetectAndLabelMaxima
Plugins>CLIncubator>Detection, "Find And Label Maxima (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.detection.FindAndLabelMaxima
Plugins>CLIncubator>Labeling, "Connected Components Labeling (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.labeling.ConnectedComponentsLabeling
Plugins>CLIncubator>Labeling, "Exclude Labels On Edges (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.labeling.ExcludeLabelsOnEdges
Plugins>CLIncubator>Labeling, "Exclude Labels Outside Size Range (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.labeling.ExcludeLabelsOutsideSizeRange
Plugins>CLIncubator>Labeling, "Extend Labels Until They Touch (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.labeling.ExtendLabelsUntilTheyTouch
Plugins>CLIncubator>Labeling, "Extend Labels With Maximum Radius (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.labeling.ExtendLabelsWithMaximumRadius
Plugins>CLIncubator>Mesh, "Distance Mesh Neighbors (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.mesh.DistanceMeshNeighbors
Plugins>CLIncubator>Mesh, "Mesh Neighbors (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.mesh.MeshNeighbors
Plugins>CLIncubator>Processing, "Background Subtraction (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.BackgroundSubtraction
Plugins>CLIncubator>Processing, "Difference Of Gaussian (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.DifferenceOfGaussian
Plugins>CLIncubator>Processing, "Gaussian Blur (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.GaussianBlur
Plugins>CLIncubator>Processing, "Laplacian Of Gaussian (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.LaplacianOfGaussian
Plugins>CLIncubator>Processing, "Maximum (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.Maximum
Plugins>CLIncubator>Processing, "Mean (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.Mean
Plugins>CLIncubator>Processing, "Median (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.Median
Plugins>CLIncubator>Processing, "Minimum (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.processing.Minimum
Plugins>CLIncubator>Projections, "Maximum Z Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.projections.MaximumZProjection
Plugins>CLIncubator>Projections, "Mean Z Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.projections.MeanZProjection
Plugins>CLIncubator>Projections, "Median Z Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.projections.MedianZProjection
Plugins>CLIncubator>Projections, "Minimum Z Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.projections.MinimumZProjection
Plugins>CLIncubator>Projections, "Standard Deviation Z Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.projections.StandardDeviationZProjection
Plugins>CLIncubator>Projections, "Sum Z Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.projections.SumZProjection
Plugins>CLIncubator>Segmentation, "Local Threshold (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.segmentation.LocalThreshold
Plugins>CLIncubator>Segmentation, "Threshold Otsu (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.segmentation.ThresholdOtsu
Plugins>CLIncubator>Transform, "Cylinder Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.handcrafted.CylinderTransform
Plugins>CLIncubator>Transform, "Make Isotropic (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.handcrafted.MakeIsotropic
Plugins>CLIncubator>Transform, "Rigid Transform3 D (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.handcrafted.RigidTransform3D
Plugins>CLIncubator>Transform, "Sphere Projection (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.handcrafted.SphereTransform
Plugins>CLIncubator>Transform, "Transpose X Y (CLIncubator, experimental)", net.haesleinhuepf.clincubator.interactive.handcrafted.TransposeXY




Plugins>CLIncubator>Experimental>Playground,  "clIncubator playground (experimental)",    net.haesleinhuepf.IncubatorPlayground

