Plugins>SpimCat>File,  "Open virtual RAW stack_",      VirtualRawStackOpener
Plugins>SpimCat>File,  "Open virtual TIF stack_",      VirtualTifStackOpener

Plugins>SpimCat>Stacks,  "Crop 4D Stack_", net.haesleinhuepf.spimcat.cropping.Crop4D
Plugins>SpimCat>Stacks,  "Interactive Rigid Transform 3D_", net.haesleinhuepf.spimcat.transform.InteractiveRigidTransform3D
Plugins>SpimCat>Stacks,  "Phase annotator_", net.haesleinhuepf.spimcat.annotation.PhaseAnnotator


Plugins>SpimCat>Stacks, "Image Quality Measurements_", net.haesleinhuepf.spimcat.measurement.ImageQualityMeasurement

Plugins>SpimCat>Projections, "Cylinder maximum projection_", net.haesleinhuepf.spimcat.measurement.CylinderMaximumProjection

Plugins>SpimCat>Segmentation, "CLIJx Weka Binary Pixel Classification_", net.haesleinhuepf.spimcat.segmentation.pixelclassification.CLIJxWekaBinaryPixelClassification

Plugins>SpimCat>Segmentation, "Spot detection_", net.haesleinhuepf.spimcat.detection.SpotDetection

Plugins>SpimCat>Neighbor Analysis, "Neighbor analysis_",  net.haesleinhuepf.spimcat.measurement.neighbors.NeighborAnalysis



Plugins>CLIncubator>Projections, "Half-Stack-Cylinder-Intensity-Projection frame by frame on multiple GPUs (experimental)", net.haesleinhuepf.clincubator.projection.HalfStackCylinderProjectionFrameProcessor
Plugins>CLIncubator>Projections, "Cylinder-Maximum-Projection frame by frame on multiple GPUs (experimental)", net.haesleinhuepf.clincubator.projection.CylinderProjectionFrameProcessor
Plugins>CLIncubator>Projections, "Half-Stack-Sphere-Intensity-Projection frame by frame on multiple GPUs (experimental)", net.haesleinhuepf.clincubator.projection.HalfStackSphereProjectionFrameProcessor
Plugins>CLIncubator>Projections, "Sphere-Intensity-Projection frame by frame on multiple GPUs (experimental)", net.haesleinhuepf.clincubator.projection.SphereProjectionFrameProcessor
Plugins>CLIncubator>Projections, "Rotating 3D projection frame by frame on multiple GPUs (experimental)", net.haesleinhuepf.clincubator.projection.Rotating3DProjectionFrameProcessor

Plugins>CLIncubator>Correction,  "Equalize mean intensities frame by frame on multiple GPUs (experimental)",    net.haesleinhuepf.clincubator.preprocessing.EqualizeMeanIntensityFrameProcessor
Plugins>CLIncubator>Correction,  "Drift correction frame by frame on multiple GPUs (experimental)",    net.haesleinhuepf.clincubator.preprocessing.DriftCorrectionFrameProcessor

Plugins>CLIncubator>Analysis,  "Neighbor analysis frame by frame on multiple GPUs (experimental)",    net.haesleinhuepf.clincubator.analysis.NeighborAnalysisFrameProcessor
Plugins>CLIncubator>Playground,  "clIncubator playground (experimental)",    net.haesleinhuepf.IncubatorPlayground
